<div style="background-color: #5C0E12; height: 100vh;">
    <div style="background-color: #5C0E12; margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
        <div class="text-center">
            <img src="assets/images/logos/logosolo-01.png" height="68px" alt="homepage" class="light-logo" />
            &nbsp;
            <img src="assets/images/logos/logoletra-01.png" height="38px" class="light-logo" alt="homepage" />
            <h4 class="mt-4"style="color: #DFD4A6">Error 404</h4>
            <span style="color: #DFD4A6"><p class="mt-2" >Lo sentimos, no pudimos encontrar la página solicitada</p></span>
            <button (click)="goBack()" class="btn btnInfo">Regresar</button> 
        </div>
    </div>
</div>
