<div id="main-wrapper">
    <!-- Selector del header -->
    <app-navbar-inscripcion></app-navbar-inscripcion>

    <div class="container-fluid p-5">

        <button routerLink='/modalidades' class="btn btn-sm btnSuccess mt-5 px-3" type="submit">
            <i class="fa fa-arrow-left"></i>
        </button>
        <hr>
        <div class="container">
            <h1 class="text-center text-capitalize">Bienvenido al módulo de Pasantía supervisada </h1>
            <div class="text-center">
                <h4>Por favor seleccione el tipo de pasantía que desea realizar.</h4>
            </div>
            
            <div class="card-deck mt-5">

                <div class="card border border-secondary rounded ">
                    <h6 class="card-header text-uppercase " style="background-color: #8F141B; color: #ffffff; ">
                        <b class="text-uppercase">Inscripción Directa</b> </h6>
                    <div class="card-body " style="border-color: #8F141B; ">

                        <p>En esta inscripción usted podrá realizar la solicitud de la
                            pasantía con una empresa que tenga convenio con la
                            universidad. </p><br>

                        <div class="text-right">
                            <div class="btnSolicitud ">
                                <button routerLink="/inscripcion-directa-propuesta" class="btn btn-sm mt-4"
                                    style="background-color: #8F141B; color: #ffffff; "><i
                                        class="fa fa-clipboard "></i>&nbsp;
                                    <b>INSCRIBIRSE</b> </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card border border-secondary rounded ">
                    <h6 class="card-header text-uppercase " style="background-color: #8F141B; color: #ffffff; ">
                        <b>pre-inscripción por vacante</b> </h6>
                    <div class="card-body " style="border-color: #8F141B; ">

                        <p>En esta pre-inscripción, usted podrá postularse para una
                            de las vacantes ofrecidas por las empresas que tienen 
                            convenio con la universidad. Estando sujeto a que la 
                            empresa haga el proceso de selección de todos los 
                            postulados.
                        </p>

                        <div class="text-right">
                            <div class="btnSolicitud">
                                <button routerLink="/preinscripcion-pasantia" class="btn btn-sm"
                                    style="background-color: #8F141B; color: #ffffff; "><i
                                        class="fa fa-clipboard "></i>&nbsp;
                                    <b>PRE-INSCRIBIRSE</b> </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!--<div class="text-center">
                <br>
                <img src="https://www.usco.edu.co/imagen-institucional/logo/universidad-surcolombiana-v.png" alt="">
                <br><br>
                <small><b> Institución de Educación Superior sujeta a inspección y vigilancia del Ministerio de
                        Educación Nacional</b></small><br>

                <small>NIT: 891180084-2 <br>
                    Horario de atención al público: <br>
                    Lunes a viernes de 8:00 a.m. a 12:00 m. y de 2:00 p.m. a 6:00 p.m. <br>
                    Línea Gratuita Nacional: 018000 968722 <br>
                    Notificaciones Judiciales: notificacionesjudiciales@usco.edu.co</small> <br><br>

                <img src="https://www.usco.edu.co/resources/images/icontec.png" alt="">

            </div>-->
    </div>

</div>