<div class="p-3" style="background-color: white;">
    <button type="button" class="btn btnSuccess my-3" data-toggle="modal" data-target="#addRol" data-backdrop="static" data-keyboard="false">
      Agregar rol&nbsp;&nbsp;<i class="fa fa-plus"></i>
    </button>
    
    <!-- The Modal -->
    <div class="modal fade" id="addRol">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Agregar Rol</h4>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="postRol(f)">
              <input type="text" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 95))' ngModel name="nuevoRol" placeholder="Nombre del rol" class="form-control" maxlength="30" pattern="[a-zA-Z_]+" required>
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btnInfo" [disabled]="f.invalid">Aceptar</button>
                <button type="button" (click)="f.reset()" id="btnClose" class="btn btnSuccess" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rol of roles">
                <td>
                  {{rol.nombre}}
                <td>
                    <h3 *ngIf="rol.estado == true"><span class="badge badge-success">Activo</span></h3>
                    <h3 *ngIf="rol.estado == false"><span class="badge btnSuccess">Inactivo</span></h3>
                </td>
                <td>
                    <button *ngIf="rol.estado == true" type="button" class="btn btn-sm btnSuccess mr-2">
                        Desactivar <i class="fa fa-ban"></i>
                    </button>
                    <button *ngIf="rol.estado == false" type="button" class="btn btn-danger">Activar</button>
                </td>
          </tr>
        </tbody>
    </table>
    </div>

</div>
