<div id="main-wrapper">

    <!-- Selector del header -->
    <app-navbar-inscripcion></app-navbar-inscripcion>

    <div class="container-fluid pt-5 px-4 p-md-5 p-lg-5">

        <div class="clearfix mt-5">
            <div class="float-left">
                <button routerLink='/solicitud-pasantia-supervisada' class="d-inline btn btn-sm btnSuccess btn-sm px-3" type="submit">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <h2 class="text-center">Inscripción directa de Pasantía
                <a href="javascript:void(0)" class="d-inline" data-toggle="tooltip" data-placement="right" title="En el siguiente apartado, usted deberá subir el formato de propuesta de modalidad de grado (diligenciado) y la ficha academica!">
                    <i class="fa fa-info-circle"></i>
                </a>
            </h2>
            <hr>
          </div>
       
        <form (ngSubmit)="postSolicitud()">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 pl-2">
                    <h3 class="card-title text-uppercase"><b>1. Datos del estudiante: </b></h3>
                    <h5><span class="font-weight-bold text-dark">Nombre: </span>{{info.nombres}} {{info.apellidos}}</h5>
                    <h5><span class="font-weight-bold text-dark mr-2 mt-2">Código: </span>{{info.codigo}} <span class="ml-3 font-weight-bold text-dark">ID:</span> {{info.identificacion}}</h5>
                    <h5><span class="font-weight-bold text-dark mr-2 mt-2">Programa: </span> {{info.programa}}</h5>
                    <h5><span class="font-weight-bold text-dark mr-2 mt-2">Correo: </span> {{info.correo}}</h5>
                    <label for="eps" class="font-weight-bold text-dark">Empresa de Salud:</label>
                    <div class="input-group">
                        <input name="eps" type="text" class="form-control" id="eps" placeholder="Empres de salud" (change)="getInfoPropuesta()" required>
                    </div>
                    <label for="empresa" class="font-weight-bold text-dark mt-2">Empresa de la pasantia:</label>
                    <select name="empresa" id="mySelect" class="form-control custom-select" (change)="getInfoPropuesta()" required>
                        <option value="" selected>Seleccione...</option>
                        <ng-container *ngFor="let convenio of convenios">
                            <option>{{convenio.empresa.nombre}}</option>
                        </ng-container>
                    </select>
                    <label for="lineaInvestigacion" class="font-weight-bold text-dark mt-3">Linea de investigación:</label><br>
                    <select (change)="getInfoPropuesta()" class="form-control custom-select" id="lineaInvestigacion" name="lineaInvestigacion">
                        <option value="" selected>Seleccione...</option>
                        <ng-container *ngFor="let linea of lineas">
                            <option value="{{linea._id}}">{{linea.nombre}}</option>
                        </ng-container>
                    </select>
                </div>
            
                <div class="col-sm-12 col-md-8 col-lg-8 px-lg-5 pt-3 pt-md-0 pt-lg-0">
                    <h3 class="card-title text-uppercase"><b>2. información de la propuesta: </b></h3>
                    <div class="float-md-right">
                        <button type="button" class="btn descargar btnSuccess mb-2 mr-3">
                            <a class="btnSuccess" href="/assets/documentos/formatoSolicitudPasantiaIngSoftware.docx" download target="_blank">
                                <small><b><i class="fa fa-file-pdf-o"></i>&nbsp; Descargar formato</b></small>
                            </a>
                        </button>
                    </div><br>
                    <label for="tituloPasantia" class="font-weight-bold text-dark">Titulo de la pasantia:</label>
                    <div class="input-group">
                        <input name="tituloPasantia" type="text" class="form-control" id="tituloPasantia" (change)="getInfoPropuesta()" placeholder="Titulo de la pasantia" required>
                    </div>

                    <label for="descripcion" class="font-weight-bold text-dark mt-2">Descripción de la pasantia:</label>
                    <textarea id="descripcion" class="form-control" rows="2" placeholder="Descripción de la pasantia" maxlength="500" required (keyup)="getInfoPropuesta()" style="resize: none;"></textarea>

                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <label for="filePropuesta" *ngIf="nombreArchivoP == null" class="labels custom-file-upload py-4 mt-4">
                                Click aquí para subir la Propuesta</label>
        
                            <label for="filePropuesta" *ngIf="nombreArchivoP != null"
                                class="labels custom-file-upload text-center py-3 mt-4" style="color: #8F141B; font-weight: bold;">
                                {{ nombreArchivoP }}</label><br>
        
                            <input name="filePropuesta" id="filePropuesta"
                                (change)="getFilePropuesta( $event.target.files[0] )" type="file" accept="application/pdf"
                                class="imagenes-secundarias" required /> 
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <label for="fileFicha" *ngIf="nombreArchivoF == null" class="labels custom-file-upload py-4 mt-4">
                                Click aquí para subir la ficha academica</label>

                            <label for="fileFicha" *ngIf="nombreArchivoF != null"
                                class="labels custom-file-upload text-center py-3 mt-4" style="color: #8F141B; font-weight: bold;">
                                {{ nombreArchivoF }}</label><br>

                            <input name="fileFicha" id="fileFicha"
                                (change)="getFileFicha( $event.target.files[0] )" type="file" accept="application/pdf"
                                class="imagenes-secundarias" required />
                        </div>
                    </div>
                    
                    <div style="text-align: center;">
                        <button type="submit" class="btn btnInfo mt-4 mr-3"
                        [disabled]="(nombreArchivoF === undefined) || (nombreArchivoP === undefined) || (eps === undefined) || (nombreEmpresa === undefined)
                                    || (eps === '') || (nombreEmpresa === '') || (tituloPasantia === undefined) || (tituloPasantia === '')
                                    || (descripcion === undefined) || (descripcion === '')">
                            <b>Enviar propuesta</b>
                        </button>

                        <button type="reset" (click)="cleardata()" class="btn btnSuccess mt-4">Restablecer</button>
                    </div>    
                    <label for="empresa" class="font-weight-bold mt-4" style="color: #650E13;">NOTA:</label>
                    <h5 class="text-dark pl-0 pl-md-4 pl-lg-4 font-weight-bold"><u>Los archivos tienen que ser en formato PDF y con un tamaño máximo de 1MB.</u></h5>
 
                </div>
            </div>
        </form>
    </div>
</div>